@charset "utf-8";
/* CSS Document */

body {
	background-color: #1D518E;
	font-family: Helvetica, Arial, "sans-serif";
}

#game-window {
	margin: 0 auto;
	width: 1100px;
	height: 900px;
}

#score {
	background-color: #FFFFFF;
	border-color: #1890D4;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
	margin-bottom: 50px;
	width: 340px;
	padding: 20px;
	border-radius: 25px;

	font-size: 120pt;
	text-align: center;
	letter-spacing: 5px;
	color: #000000;
}

#question {
	background-color: rgba(255,255,255,0.80);
	border-color: #1890D4;
	border-style: solid;
	border-width: 1px;
	width: 1060px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 15px;
	
	font-size: 28pt;
}

#answers li {
	background-color:  rgba(255,255,255,1);
	width: 500px;
	height: 45px;
	border-color: #1890D4;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
	
	font-size: 28pt;
	list-style-type: none;
}

#answers li:nth-child(1){
	position: relative;
	left: -300px;
}

#answers li:nth-child(2){
	position: relative;
	left: -300px;
}

#answers li:nth-child(3){
	position: relative;
	left: -300px;
}

#answers li:nth-child(4){
	position: relative;
	left: 260px;
	top: -320px;
}
#answers li:nth-child(5){
	position: relative;
	left: 260px;
	top: -320px;
}
#answers li:nth-child(6){
	position: relative;
	left: 260px;
	top: -320px;
}

#answers li span {
	padding-left: 25px;
	margin-top: -4px;
	color: #1890D4;
	float: right;
	font-size: 36pt;
	
}

#strikes {
	margin: 0 auto;
	position: relative;
	top: -400px;
	width: 400px;
	height: 150px;
	background-color: rgba(255,255,255,0.80);
	border-radius: 15px;
	
	text-align: center;
	font-size: 100pt;
	color: #BE1622;
	font-weight: bolder;
	
}



